:root {
  --white: #fff;
  --almost-white: #e5e5e5;
  --white-gray: #c4c4c4;
  --light-gray: #bdbdbd;
  --gray: #9e9e9e;
  --dark-gray: #4d4d4d;
  --almost-black: #222;
  --black: #000;
  --red: #d2001c;
  --yellow: #fed600;
  --ghost: rgba(189, 189, 189, 0.35);
}
