extends includes/base.pug
block content
  include includes/header.pug
  main(class="container")
    h1(hidden) О нас
    img(src="images/main.jpg" alt="Команда Top 3D Shop" class="mb-30 mb-10-xs")
    section(class="flex ai-stretch cg-187 mb-70 cg-15-md mb-40-md fd-column-xs mb-10-xs")
      div
        h3(class="width-333 max-w-100-percent mt-0 mb-40 mb-10-xs") Твоя работа
          br 
          | в&nbsp;крупнейшем интеграторе цифрового производства
        div(class="width-280 max-w-100-percent")
          a(href="" class="btn btn-big width-100-percent mb-20 mb-10-xs") Отправить резюме
          div(class="agreement") Нажимая кнопку, вы&nbsp;соглашаетесь на&nbsp;обработку персональных данных.
      div
        p Top 3D&nbsp;Shop&nbsp;&mdash; лидер по&nbsp;продажам 3D-оборудования в&nbsp;России и&nbsp;странах СНГ. В&nbsp;2018&nbsp;мы стали лучшим интегратором 3D&nbsp;оборудования по&nbsp;аддитивным технологиям и&nbsp;цифровому производству по&nbsp;версии 
          a(href="") 3D&nbsp;Print&nbsp;Awards
          | .
        p За&nbsp;6&nbsp;лет работы более 10&nbsp;000 клиентов по&nbsp;всей России и&nbsp;СНГ выбрали Top 3D&nbsp;Shop. В&nbsp;2018 наш оборот составил 600&nbsp;млн. рублей, в&nbsp;компании работает более 100&nbsp;сотрудников.
        p Новая цель: 1&nbsp;млрд торгового оборота в&nbsp;этом году и&nbsp;выход на&nbsp;международные рынки. Если вы&nbsp;&mdash; целеустремленный специалист, готовый учиться новым навыкам и&nbsp;учить других, мыслите не&nbsp;просто как исполнитель, а&nbsp;как владелец своего направления, то&nbsp;нам по&nbsp;пути!
    section(class="mb-140 mb-100-md mb-40-xs")
      div(class="flex cg-22 mb-50 mb-10-xs")
        h4(class="mt-0 mb-0") Лучше один раз увидеть:
        hr(class="mt-13")
      ul(class="flex list-unstyled fd-column-xs ai-normal-xs rg-5-xs")
        li
          a(href="" class="career-link")
            span(class="mr-15 mr-5-md") Как устроена наша компания изнутри
            svg(width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M0.999999 9L5 5L1 1" stroke="#4D4D4D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
        li
          a(href="" class="career-link")
            span(class="mr-15 mr-5-md") Как создавалась компания - необычная история
            svg(width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M0.999999 9L5 5L1 1" stroke="#4D4D4D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
        li
          a(href="" class="career-link")
            span(class="mr-15 mr-5-md") Читай о нас на 3D Today
            svg(width="6" height="10" viewBox="0 0 6 10" fill="none" xmlns="http://www.w3.org/2000/svg")
              path(d="M0.999999 9L5 5L1 1" stroke="#4D4D4D" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
    section(class="sub-container mb-170 mb-100-md mb-40-xs")
      h2 Видео о нас
      div(class="flexslider carousel")
        ul(class="slides")
          li
            iframe(width="560" height="315" src="https://www.youtube.com/embed/OYFOWAL1NlA" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          li
            iframe(width="560" height="315" src="https://www.youtube.com/embed/SOYBsly_yN8" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          li
            iframe(width="560" height="315" src="https://www.youtube.com/embed/qFzuPICPvqA" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
          li
            iframe(width="560" height="315" src="https://www.youtube.com/embed/cgt9gTx8D_w" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)