header(class="td-none")
  div
    div(class="container-fluid bg-yellow")
      div(class="container flex pt-7 pb-7 fw-600 fd-column-xs rg-5-xs")
        div(class="flex cg-20 fd-column-md")
          form(action="#" data-form="choose-city")
            select(name="city" class="custom-select border-0 bg-transparent fw-600")
              option(value="spb" selected) Санкт-Петербург
              option(value="moscow") Москва
              option(value="kyiv") Киев
          a(href="tel:+78126135838" id="phone-link" class="link-unstyled") +7 (812) 613-58-38
          div Пн–пт 10:00–19:00, сб-вс 10:00–17:00
        div(class="flex cg-36 width-100-percent-xs")
          ul(class="flex cg-36 list-unstyled fd-column-xs ai-normal-xs")
            li
              a(href="mailto:support@top3dshop.ru" class="link-unstyled") Напишите нам
            li
              a(href="mailto:director@top3dshop.ru" class="link-unstyled") Свяжитесь с директором
          ul(class="flex cg-20 list-unstyled fd-column-xs rg-5-xs")
            li
              a(href="https://tglink.ru/top_3d_shop_bot" target="_blank" class="contact telegram")
              span(hidden) Telegram
            li
              a(href="mailto:director@top3dshop.ru" class="contact skype")
              span(hidden) Skype
            li
              a(href="tel:+78126135838" class="contact phone")
              span(hidden) Телефон
    div(class="container pt-16")
      div(class="flex mb-13 position-relative display-block-xs mb-60-xs")
        a(href="" class="flex cg-16 width-40-md float-left-xs")
          img(src="images/logo.svg" alt="Top 3D Shop")
          div(class="italic display-none-md") Ваш эксперт
            br
            | на рынке 
            span(class="color-red") 3D
            | -техники
        a(href="https://market.yandex.ru/shop--top-3d-shop/239950" target="_blank" class="float-right-xs")
          img(src="images/ya-market.png" alt="Яндекс Маркет")
        form(action="#" class="search flex ai-stretch")
          input(type="text" placeholder="Введите запрос, например, Formlabs Form 2" class="width-100-percent border-0")
          button(class="btn btn-white") Найти
        a(href="" class="enter link-unstyled fw-600") Войти
        a(href="" class="btn btn-icon btn-cart") Корзина пуста
      nav(class="box-shadow box-shadow-none-xs")
        button(type="button" class="menu-button cmn-toggle-switch cmn-toggle-switch__htx")
          span Menu
        ul(class="flexnav" data-breakpoint="800")
          li
            a(href="") Акции
          li
            a(href="") О нас
          li
            a(href="") Мероприятия
          li
            a(href="") Оплата и доставка
          li
            a(href="") Что с моим заказом?
          li
            a(href="") Гос. закупки
          li
            a(href="") Блог
          li
            a(href="") Мастер-классы
          li
            a(href="") Контакты
          li
            a(href="") Каталог
            ul
              li
                a(href="") 3D-принтеры
                ul
                  li
                    a(href="") Категория 1
                  li
                    a(href="") Категория 2
              li
                a(href="") 3D-сканеры
                ul
                  li
                    a(href="") Категория 1
                  li
                    a(href="") Категория 2
              li
                a(href="") Станки
                ul
                  li
                    a(href="") Категория 1
                  li
                    a(href="") Категория 2
              li
                a(href="") Роботы
                ul
                  li
                    a(href="") Категория 1
                  li
                    a(href="") Категория 2
              li
                a(href="") Образование
                ul
                  li
                    a(href="") Категория 1
                  li
                    a(href="") Категория 2
              li
                a(href="") Стоматологам
                ul
                  li
                    a(href="") Категория 1
                  li
                    a(href="") Категория 2
              li
                a(href="") Гаджеты
                ul
                  li
                    a(href="") Категория 1
                  li
                    a(href="") Категория 2
              li
                a(href="") Материалы
                ul
                  li
                    a(href="") Категория 1
                  li
                    a(href="") Категория 2
              li
                a(href="") ПО
                ul
                  li
                    a(href="") Категория 1
                  li
                    a(href="") Категория 2
              li
                a(href="") Решения
                ul
                  li
                    a(href="") Категория 1
                  li
                    a(href="") Категория 2
              li
                a(href="") Учебный центр
                ul
                  li
                    a(href="") Категория 1
                  li
                    a(href="") Категория 2
              li
                a(href="") Услуги
                ul
                  li
                    a(href="") Категория 1
                  li
                    a(href="") Категория 2